@import "variables";

.primary-background {
  background-color: $peach;
}

.secondary-background {
  background-color: $gray;
}

.tertiary-background {
  background-color: $cadet_gray;
}

.primary-color {
  color: $peach;
}

.secondary-color {
  color: $gray;
}

.tertiary-color {
  color: $cadet_gray;
}
